.Modal {
    max-width: 600px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFF;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);

    &__Actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 40px;
        padding: 0 20px 0 20px;
        height: 50px;
        background-color: #F6F6F6;
        justify-content: flex-end;
    }

    &__ActionsSecondary {
        margin-right: auto;

        & .Modal__Action {
            margin-right: 20px;
        }
    }

    &__ActionsPrimary {
        & .Modal__Action {
            margin-left: 20px;
        }
    }

    &__Action {
        font-size: 1.3rem;
        text-decoration: none;
        font-weight: bold;
        line-height: 2rem;

        &--Negative {
            color: #FF0000;
        }

        &--Neutral {
            color: #959595;
        }

        &--Positive {
            color: #007DE6;
        }

        &--Button {
            border: none;
            outline: none;
            background: none;
            appearance: none;
        }
    }
}
