/venv

/docker/config/web.env
/docker/config/db.env

*.sql

node_modules

/tmp

# Ignore dist folder
/delicious_elixir/priv/static/js/index*
/delicious_elixir/priv/static/css/index*

# Ignore build errors and node_modules
npm-debug*
node_modules/*
