.Toolbar {
    &__List {
        background-color: #0B79E5;
        height: 100vh;

        &--Fixed {
            min-width: 240px;
            position: fixed;
        }
    }

    &__Item {
        font-size: 1.3rem;
    }

    &__Search {
        width: 100%;
        background-color: #0056A9;
        border: 0;
        text-indent: 20px;
        padding: 0 20px 0 0;
        color: white;
        font-size: 1.3rem;
        height: 40px;

        &:focus {
            outline: 0;
        }
    }

    &__Link {
        display: block;
        color: white;
        padding: 0 20px 0 20px;
        text-decoration: none;
        height: 40px;
        line-height: 40px;

        outline: 0;

        &--Active {
            background-color: white;
            color: #0B79E5;
            font-weight: bold;
        }
    }
}
