<h2>Show link</h2>

<ul>

  <li>
    <strong>Url:</strong>
    <%= @link.url %>
  </li>

</ul>

<%= link "Edit", to: link_path(@conn, :edit, @link) %>
<%= link "Back", to: link_path(@conn, :index) %>
