* {
    box-sizing: border-box;
}

html {
    font-family: arial;
    font-size: 62.5%;
}

body {
    background-color: #FFFFFF;
    font-size: 1.6rem;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;

}

#main_container {
    max-height: 100vh;
    overflow-y: scroll;
}
