.UserHeader {
    &__Content {
        height: 120px;
        padding: 20px;
        display: flex;
    }

    &__Avatar {
    }

    &__AvatarImage {
        width: 66px;
        height: 66px;
    }

    &__Description {
        margin-left: 20px;
        width: 100%;
    }

    &__DescriptionUsername {
        font-size: 2rem;
        color: #999;
    }

    &__DescriptionInfo {
        margin-top: 5px;
        font-size: 1.3rem;
        color: #666666;
    }

    &__DescriptionUrl {
        display: block;
        margin-top: 5px;
        font-size: 1.3rem;
        color: #0B79E4;
        text-decoration: none;
    }

    &__DescriptionTop {
        min-height: 66px;
    }

    &__DescriptionBottom {
        display: flex;
        justify-content: space-between;
    }

    &__Stats {
    }

    &__StatItem {
        display: inline-block;
        margin-right: 15px;
        font-size: 1.3rem;
        color: #999;

        strong {
            font-weight: bold;
            color: #333;
        }
    }

    &__Joined {
        color: #999;
        font-size: 1.3rem;
    }
}
